<h1>Welcome back to ErrorMonitor, {{dashboardCtrl.userdata.username}}</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h3>User Data:</h3>
            <p>username: {{dashboardCtrl.userdata.username}}</p>
            <p>email: {{dashboardCtrl.userdata.email}}</p>
            <p>first name: {{dashboardCtrl.userdata.first_name}}</p>
            <p>last name: {{dashboardCtrl.userdata.last_name}}</p>
        </div>
        <div class="col-md-8 list-group">

            <h3>Your Apps:</h3>
            <table class="table table-hover">
                <thead>
                    <th>App Id</th>
                    <th>App Name</th>
                </thead>
                <tbody>
                    <tr ng-click="" style="cursor: pointer" ng-repeat="app in dashboardCtrl.admin_apps">
                        <td>{{app._id}}</td>
                        <td>{{app.name}}</td>
                    </tr>
                </tbody>
            </table>

            <h3>Apps you subscribed to:</h3>
            <table class="table table-hover">
                <thead>
                    <th>App Id</th>
                    <th>App Name</th>
                </thead>
                <tbody>
                    <tr ng-click="" style="cursor: pointer" ng-repeat="app in dashboardCtrl.subscribed_apps">
                        <td>{{app._id}}</td>
                        <td>{{app.name}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>