<h1>Welcome back to ErrorMonitor, {{dashboardCtrl.userdata.username}}</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h3>User Data:</h3>
            <p>username: {{dashboardCtrl.userdata.username}}</p>
            <p>email: {{dashboardCtrl.userdata.email}}</p>
            <p>first name: {{dashboardCtrl.userdata.first_name}}</p>
            <p>last name: {{dashboardCtrl.userdata.last_name}}</p>
        </div>
        <div class="col-md-8 list-group">

            <div ng-cloak="" class="tabsdemoDynamicHeight">
                <md-content>
                    <md-tabs md-selected="dashboardCtrl.selectedIndex" md-dynamic-height="" md-border-bottom="">
                        <md-tab label="Apps">
                            <md-content class="md-padding">

                                <table class="table table-hover">
                                    <thead>
                                        <th>App Id</th>
                                        <th>App Name</th>
                                        <th>Current Version</th>
                                        <th>Repository</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-click="dashboardCtrl.selectApp(app._id)" ng-repeat="app in dashboardCtrl.admin_apps">
                                            <td>{{app._id}}</td>
                                            <td>{{app.name}}</td>
                                            <td>{{app.version}}</td>
                                            <td>{{app.repo}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h3>Apps you subscribed to:</h3>
                                <table class="table table-hover">
                                    <thead>
                                        <th>App Id</th>
                                        <th>App Name</th>
                                    </thead>
                                    <tbody>
                                        <tr style="cursor: pointer" ng-repeat="app in dashboardCtrl.subscribed_apps">
                                            <td>{{app._id}}</td>
                                            <td>{{app.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </md-content>
                        </md-tab>
                        <md-tab label="Fragments">
                            <md-content class="md-padding">

                                <!--IN THIS TAB WE ENABLE FILTERING EVENTS BY FRAGMENT -->
                                <div class="md-padding" ng-cloak>
                                    <div>
                                        <h1 class="md-title">Select Fragment Name Below</h1>
                                        <div ng-repeat="e in filtered = (dashboardCtrl.eventsData| byFragment:selectedFragments)"></div>
                                        <p>Number of events: {{filtered.length}}</p>
                                        
                                       
                                        <div layout="row">
                                            <md-input-container>
                                                <label>Fragment</label>
                                                <md-select ng-model="selectedFragments" multiple>
                                                    <md-option ng-value="event.fragment" ng-repeat="event in dashboardCtrl.eventsData | unique:'fragment'">{{event.fragment}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>


                                        <table class="table table-hover">
                                            <thead>
                                                <th>Event Id</th>
                                                <th>Stack</th>
                                                <th>Date</th>
                                                <th>App Version</th>
                                            </thead>
                                            <tbody>
                                                <tr ng-click="" ng-repeat="e in dashboardCtrl.eventsData| byFragment:selectedFragments">
                                                    <td>{{e._id}}</td>
                                                    <td>{{e.stack}}</td>
                                                    <td>{{e.date}}</td>
                                                    <td>{{e.version}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                         
                                    </div>
                                </div>
                                <!--END OF -->

                            </md-content>
                        </md-tab>
                        <md-tab label="App Version">
                            <md-content class="md-padding">
                                <div class="md-padding" ng-cloak>
                                    <div>
                                        <h1 class="md-title">Select Application Version Below</h1>
                                        <div layout="row">
                                            <md-input-container>
                                                <label>Version</label>
                                                <md-select ng-model="selectedVersions" multiple>
                                                    <md-option ng-value="event.version" ng-repeat="event in dashboardCtrl.eventsData | unique:'version'">{{event.version}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>

                                        <table class="table table-hover">
                                            <thead>
                                                <th>Event Id</th>
                                                <th>Stack</th>
                                                <th>Date</th>
                                                <th>App Version</th>
                                            </thead>
                                            <tbody>
                                                <tr ng-click="" ng-repeat="e in dashboardCtrl.eventsData| byAppVersion:selectedVersions">
                                                    <td>{{e._id}}</td>
                                                    <td>{{e.stack}}</td>
                                                    <td>{{e.date}}</td>
                                                    <td>{{e.version}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Event">
                            <md-content class="md-padding">
                                <div class="md-padding" ng-cloak>
                                    <div>
                                        <h1 class="md-title">Event</h1>
                                        <div layout="row">
                                            <md-input-container>
                                                <label>Event</label>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>

                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
</div>