<div class="container-fluid">
	<div class='row'>
		<div class="col-md-4">
                 <md-list>
                                            <md-divider></md-divider>
                                            <md-list-item class="md-2-line">
                                                <div class="md-list-item-text">
                                                    <p>Application that fired the event:</p>
                                                    <h3>{{eventCtrl.event.app.name}}</h3>
                                                </div>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item class="md-2-line">
                                                <div class="md-list-item-text">
                                                    <p>Application version in time of the event:</p>
                                                    <h3>{{eventCtrl.event.version}}</h3>
                                                </div>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item class="md-2-line">
                                                <div class="md-list-item-text">
                                                    <p>Application fragment:</p>
                                                    <h3>{{eventCtrl.event.fragment}}</h3>
                                                </div>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item class="md-2-line">
                                                <div class="md-list-item-text">
                                                    <p>Time of the event:</p>
                                                    <h3>{{eventCtrl.event.date}}</h3>
                                                </div>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item class="md-2-line">
                                                <div class="md-list-item-text">
                                                    <p>Event stack:</p>
                                                    <div style="border-style:solid; padding:3px; border-radius:2px; background:white; border-width:1px; border-color:gray;">
                                                        <h5 style="color:red; font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;">{{eventCtrl.event.stack}}</h5>
                                                    </div>
                                                </div>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                        </md-list>
        </div>
	</div>
</div>