<form name="register_app_form">
 
    <div class="form-group">
        <label for="name">name:</label>
        <input id="name" class="form-control" type="text" ng-model="name" required>
    </div>
    <div class="form-group">
        <label for="version">version:</label>
        <input id="version" class="form-control" type="text" ng-model="version" required>
    </div>
    <div class="form-group">
        <label for="stack">stack:</label>
        <input id="stack" class="form-control" type="text" ng-model="stack">
    </div>
    <div class="form-group">
        <label for="repo">repo:</label>
        <input id="repo" class="form-control" type="text" ng-model="repo">
    </div>
    <button class="btn btn-primary" ng-disabled="register_app_form.$invalid" ng-click="register_app()">Register</button><br><br>
</form>